# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Studium\Masterarbeit\MA-FrameworkLatency\pixel_reader_wip\timestamps\getpixel\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
